.todo {
    display: flex;
    justify-content: center;
    background-color: rgba(9, 9, 9, 0.1);
    color: #444;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 15px;
}

.todo h2 {
    margin-right: 10px;
}

.todo button {
    border: none;
    width: 0px;
    height: 0px;
}

.todo button i {
}
